# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.venv
venv/
env/
.env
.envrc

# Unit test / coverage / lint caches
.coverage
.coverage.*
.cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/*
!.vscode/extensions.json

# Ignore ML logs, checkpoints, and cached data
/lightning_logs/
/tensorboard_logs/
/checkpoints/
/model_cache/
/pretrained_models/
/data/

# macOS / Operating System
.DS_Store